@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

body{
  /* background-color: white; */
  background-image: url("background0.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  font-family: 'Tangerine', serif;
  cursor:url(cursor.gif), none;
  /* cursor:url(hand.png), none; */

}

h1 {
  font-family: 'Tangerine', serif;
  color: #002b15;
  text-align: center;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
  
  animation: fadein 14s;
  -webkit-animation: fadein 14s; 
}

h4 {  
  margin: 15px;
  font-family: 'Tangerine';
  color: #002b15;
  text-align: center;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
  animation: endtext 55s;
  -webkit-animation: endtext 55s;
  -moz-animation: endtext 55s; 
  -ms-animation: endtext 55s;
}

p, #Tale {
  width: 825px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #002b15;
  font-size: 31px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
  text-align: center;
  font-weight: bold;
  animation: fadein2 2.5s;
  -webkit-animation: fadein2 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein2 2.5s; /* Firefox < 16 */
  -ms-animation: fadein2 2.5s; /* Internet Explorer */
}

div {
  display: grid;
  justify-items: center;
  text-align: center;
}

button {
  color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 7px; border-radius: 3px; 
  font-family: Spectral SC, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant-ligatures: normal; 
  font-variant-caps: normal; 
  text-transform: none; 
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
}  

#start {
  color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 7px; border-radius: 3px; 
  font-family: Spectral SC, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant-ligatures: normal; 
  font-variant-caps: normal; 
  text-transform: none; 
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    animation: fadein 15s;
    -webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 15s; /* Firefox < 16 */
    -ms-animation: fadein 15s; /* Internet Explorer */
}  

button:hover {
  background: #1C6EA4; 
  cursor:url(hand.png), auto;
}

button:enabled {
  background: #144E75;
}

a, a:hover, a:active, a:visited {
  cursor: url(hand.png), auto;
}

@keyframes endtext {
  from { color: #f2e8d9;
    text-shadow: none;
  opacity: 0}
  70% {color: #f2e8d9;
    text-shadow: none;
    opacity: 0 }  
  to   { color: #002b15}
}

@keyframes fadein {
  from { opacity: 0;}
  50% {opacity: 0;}
  to   { opacity: 1;}
}

@keyframes fadein2 {
  from { opacity: 0;}
  to   { opacity: 1;}
}

@keyframes blur {
  from { filter: blur(0px); }
  to   { filter: blur(5px); }
}

@keyframes deblur {
  from { filter: blur(5px); 
}
  to   { filter: blur(0px); }
}
   
.spoiler {
  position: fixed;
  bottom: 4%;
  left: 43%;
  justify-items: center;
  filter: blur(5px);
  animation: blur 0.5s; 
  -webkit-animation: blur 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: blur 0.5s; /* Firefox < 16 */
  -ms-animation: blur 0.5s; /* Internet Explorer */
}

.spoiler:hover { background-color:transparent; 
  filter: none; 
  animation: deblur 0.5s; 
  -webkit-animation: deblur 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: deblur 0.5s; /* Firefox < 16 */
  -ms-animation: deblur 0.5s; /* Internet Explorer */
} 

#music {
  display: block;
  height: 35px;
  width: 220px;
  animation: fadein 5s;
}